{namespace Footer}

/**
 */
{template .render}
	<footer class="footer">
		<div class="container">
			<div class="row">
				<p class="footer-description col-md-6 col-md-offset-4">
					Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://twitter.com/Henrique_Limas" title="Author twitter link">@HenriqueLimas</a>
				</p>
			</div>
		</div>
	</footer>
{/template}