{namespace main}

/**
 */
{template .render}
	{@param content: ?}
	{@param site: ?}
	{@param? elementClasses: ?}

	<div class="{$elementClasses ?: 'main'}">
		<main class="content">
			{call Topbar.render}
				{param items: [] /}
				{param style: 'topbar-light' /}
				{param logo: [
					'text': $site.logo + ' ' + $site.title
				] /}
			{/call}

			{$content}
		</main>
	</div>
{/template}
